.cioccolato {
    color: chocolate;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}
body {
    background-color: blanchedalmond;
}
#polpette {
    margin-top: 50px;
    
}